.btn {
	background: var(--color-dark-2);
	padding: 10px;
	font-size: 18px;
	color: var(--color-white);
	border-radius: var(--border-radius-btn);

	&:not(:disabled) {
		&:hover {
			color: var(--color-black);
			background-color: transparent;
		}
		&:active {
			scale: 1.05;
		}
	}

	&:disabled {
		background-color: var(--color-light);
		border-color: var(--color-dark-2);
		cursor: not-allowed;
	}
}
